input{
    width: 290px;
    border: 1.4px solid darkslategrey;
    border-radius: 4px;
    margin: 5px;
    margin-top: 35px;
    height: 20px;
}

label{
    display: block;
    margin-top: -5px;
}

button{
    width: 100px;
    border: 1.4px solid darkslategrey;
    border-radius: 4px;
    height: 25px;
    background-color: transparent;
    margin: 9px
}

button:hover{
background-color: rgb(117, 151, 151);
color: aliceblue;

}

form{
    text-align: center;
    align-items: center;
    border: 2px dotted darkslategrey;
    border-radius: 10px;
    height: 330px;
    width: 350px;
    justify-content: center;
}

p{
    background-color: darkslategrey ;
    color: aliceblue;
    text-align: center;
    border-radius: 2px;
    width: 250px;
    justify-content: center;
    margin-left: 50px;
    height: 20px
}

