h1{
    background-color: darkslategrey ;
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
    width: 350px;
    justify-content: center;
}
body{
    display: flex;
    justify-content: center;
}
